node_modules
**/node_modules
**/dist
**/.next
**/out
**/.turbo
**/*.log
**/.env
**/.env.local
**/.env.*.local
.idea
.vscode
**/.DS_Store
.git
.gitignore
**/Dockerfile
**/*.dockerfile
docker-compose*.yml
**/coverage
**/*.spec.ts
**/*.test.ts
**/test
**/tests
**/*.md
**/README.md
.prettierrc
.prettierignore
